#map,
.row,
.container-fluid {
    height: 100%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-inline {
    box-sizing: border-box
}

.error {
    font-size: 20px;
    color: red;
    background-color: grey;
    width: 100%;
    padding: 1rem;
    text-align: center;
}