#map,
.container-fluid {
    height: 100%
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: #03A9F4;
    height: calc(100% - 50px);
}

#title {
    color: #FFFFFF;
    font-size: 2.5rem;
    float: right;
    padding-right: 20px;
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
}

#sidebar {
    padding: 1rem 2rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-inline {
    box-sizing: border-box
}

.error {
    font-size: 20px;
    color: red;
    background-color: grey;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.navbar {
    padding-top: 5px;
    margin: 0 !important;
    background-color: #673AB7;
    height: 50px;
}

#collapse-button {
    margin-left: 20px;
}